#canvasPane {
    left: 0%;
    height: 70%;
    width: 70%;
    position: absolute;
}

#textPane {
    height: 100%;
    width: 30%;
    right: 0%;
    position: absolute;
    border-left: 1px solid black;
    padding-left: 1%;
    padding-right: 1%;

    font-family: sans-serif;
    font-size: 100%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 24px;
}

#canvas {
}

table {
    background-color: #ededed;
    width: 100%;
}

table tr th {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

table tr td {
    text-align: center;
}


#explain {
    text-align: justify;
}

#solTable {
    width: 100%;
}

#solTable td {
    width: 30%; 
    text-align: center;
}
